/* FONTS */

@font-face {
  font-family: "medivealFont";
  src: url("./assets/fonts/UncialAntiqua-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MPlantin";
  src: url("./assets/fonts/MPlantin Regular.tff") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Beleren";
  src: url("./assets/fonts/Beleren.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* CSS RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY */

body {
  display: grid;
  place-items: center;
  font-family: system-ui, sans-serif;
  background: #1e1e1e;
  color: whitesmoke;
  padding: 20px;
  gap: 20px;
}

h1 {
  font: 3rem "medivealFont";
}
.app-layout {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 50px;
}

/* Filter to change the card svg file to this color: ff4d4d  */
#cards-svg {
  height: 4rem;
  filter: invert(53%) sepia(91%) saturate(3501%) hue-rotate(325deg)
    brightness(96%) contrast(93%);
}

/* EDIT CARD TEXT */

h3 {
  padding-left: 10px;
  appearance: none;
  background-color: #d9dfe2;
  color: black;
  font-family: Beleren;
  font-size: 22px;
  border-radius: 8px;
  height: 2rem;
}

.editor h3 {
  padding-top: 13px;
  height: 42px;
}

.editor {
  margin-top: 10px;
  gap: 15px;
  border: 8px solid black;
  border-radius: 14px;
  background-color: black;
  display: grid;
  align-content: start;
  width: 418px;
  height: 568px;
  box-shadow: 0 0 0 10px black;
}
textarea {
  width: 100%;
  background: #2d2d2d;
  color: #fff;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 12px;
  font-family: MPlantin;
  font-size: 14px;
}

textarea#card-input-text {
  font-size: 1.3rem;
  background-color: #d9dfe2;
  color: black;
}

#card-input-text {
  height: 440px;
}

/* BUTTON */
button {
  margin-top: 5px;
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 12px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background: #ff3333;
}

/* URL INPUT */

input#card-image-url {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: whitesmoke;
}

.input-group {
  width: 680px;
  height: 30px;
  border: 2px solid transparent;
  outline: none;
  border-bottom: 2px solid #3f3f3f;
  caret-color: #3f3f3f;
  background-color: #212121;
  padding: 5px;
  transition: 0.5s linear;
  font-family: MPlantin;
}
